form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2vh;
    border: 1px black solid;
    width: 30%;
    margin:  5% auto;
}


input,label {
    padding: 1.5vh;
    width: 90%;
}

.btn {
    margin: 2vh 0;
    width: 8rem;
    height: 3.8vh;
    border-radius: 14px;
    border: none;
    color: white;
    font-weight: bold;
}

.addBTN {
    background-color: #04AA6D;
}
.editBTN {
    background-color:blue;
}
/**************************/
/* BELOW 1000px  */
/**************************/
@media (max-width: 62.5em) {
form {
    width: 60%;
}
}