table {
    border-collapse: collapse;
    margin: 5% auto;
    min-width: 50%;
    text-align: center;
}

th {
    background-color: #04AA6D;
    color: white;
}

th,td {
    border: 1px black solid;
    padding: 1vh;
}

.btn {
    width: 5rem;
    height: 2.5rem;
    border-radius: 14px;
    border: none;
    color: white;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.deleteBTN {
    background-color: red;
}

.editBTN {
    background-color:blue;
}



table tr:nth-child(odd){background-color: #f2f2f2;}